:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --branco-total: #FFFF;
    --azul-destaque: #2a7ae4;
    --bg-contato: #Eaf2fd;
    --preto-leve: #464646;
  }

  *{
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    background-color: var(--bg-color);
    font-family: 'Raleway', sans-serif;
  }

  