.geral-prods {
  display: flex;
  flex-wrap: wrap;
}

.prod-titulo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.titulo {
  color: var( --preto-leve);
  font-size: 1.25rem;
  font-weight: bold;
}

.mostrar-mais p{
  display: flex;
  justify-content: center;
  color: var(--azul-destaque);
  font-weight: bold;
}

.mostrar-mais p img{
    padding-left: .6rem;
}

.sessao-produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prod-holder{
    padding: 0 1rem 1rem 1rem;
    width: 50%;
}

.produto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38vh;
    color: var( --preto-leve);
}

.produto img{
    width: 100%;
    border-radius: 5px;
    border-bottom: 1px solid var(--azul-destaque);
}

.preco{
    font-weight: bold;
    font-size: 1.1rem;
}

.ver-prod{
    color: var(--azul-destaque);
    font-weight: bold;
}

@media screen and (min-width: 481px) {
  .sessao-produtos{
    width: 100%;
    padding: 0 1rem;
  }

  .prod-titulo{
    padding: 1rem 2rem;
  }

  .prod-holder{
    width: 25%;
  } 

  .sessao-produtos .prod-holder:nth-child(1), .sessao-produtos .prod-holder:nth-child(2){
    display: none;
  }

  .geral-prods{
    justify-content: space-between;
  }
}

@media screen and (min-width: 769px){
  .sessao-produtos .prod-holder:nth-child(1), .sessao-produtos .prod-holder:nth-child(2){
    display: flex;
  }

  .sessao-produtos{
    padding: 0 5rem;
  }

  .produto{
    height: 45vh;
  }

  .prod-holder{
    width: 16%;
  }

  .prod-titulo{
    padding: 1rem 6rem;
  }
}